$bg-col: #000047;
$primary-font-col: #fff;
$secondary-font-col: #000047;
$green-button: #32CD32;
$customized-item-col: #FF0D00;
$primary-input-col: #fff;

$primary-font: "Roboto", sans-serif;

$main-heading-size: 50px;
$maori-heading-size: 30px;
$other-heading-size: 28px;
$button-font-size: 18px;
$nav-font-size: 20px;
$small-text-size: 14px;