@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

// all pages
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height: 100vh;
	min-height: 100%;
	scroll-behavior: smooth;
}

body{
	background: $bg-col;
	font-family: $primary-font;
	color: $primary-font-col;
	height: 100%;
}

.container{
	width: 60%;
	max-width: 1000px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.content{
	width: 100%;
	text-align: center;
}

.white-button{
	font-size: $button-font-size;
	padding: .75rem;
	background: $primary-font-col;
	border: none;
	a{
		@include button-col-dec;
	}
}

.green-button{
	@extend .white-button; // same style as white button
	background: $green-button; // different colour
}

.header-logo{
	max-width: 180px;
	padding: 1rem;
}

.call-waiter-btn{
	max-height: 30px;
	margin: .5rem;
}

.fa-shopping-cart{
	font-size: 30px;
	color: $primary-font-col;
	padding: .5rem;
}

.main-heading{
	font-size: $main-heading-size;
	color: $primary-font-col;
	padding: 0rem;
	text-transform: uppercase;
}

.maori-heading{
	font-size: $maori-heading-size;
	color: $primary-font-col;
	padding-bottom: .5rem;
	text-transform: uppercase;
	padding: 1rem;
}

button{
	outline: none;
	cursor: pointer;
}

// home page
.welcome-container{
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center; 
}

.welcome__text{
	text-align: center;
}

.welcome-heading{
	font-size: $main-heading-size;
	color: $primary-font-col;
	padding: 1rem;
}

.welcome__button--order{
	font-size: $other-heading-size;
	padding: 1rem;
	background: $primary-font-col;
	a{
		@include button-col-dec;
	}
}


// food menu page-break-inside: 
header{
	width: 100%;
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-nav{
	flex-basis: 80%;
	max-width: 1170px;
	margin-left: 0;
	display: flex;
	justify-content: flex-end;
}

.menu-list{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	width: 75%;
	max-width: 800px;
}

.menu-list-item{
	font-size: $nav-font-size;
	text-transform: uppercase;
	a{
		color: $primary-font-col;
		text-decoration: none;
	}
}

.nav-icons{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 20%;
}

.vege-guide{
	font-size: $small-text-size;
	text-transform: uppercase;
}

.section__heading{
	font-size: $other-heading-size;
	text-transform: uppercase;
	text-align: left;
	padding: 1rem 0 2rem;
}

.section__grid{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-section{
	padding: 2rem 0 1rem;
}

.section__grid-items{
	width: 45%;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section__grid-items__header{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.section__grid-items__header--heading{
	font-size: $food-item-heading-size;
	text-transform: uppercase;
	text-align: left;
}

.section__grid-items__header--diet{
	font-size: $small-text-size;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.section__grid-items__header--price{
	font-size: $food-item-heading-size;
	margin-left: .5rem;
}

.section__grid-items__body{
	text-align: left;
	padding: 1rem 0;
}

.section__grid-items__buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// fixed customize pop up section
.customize-container{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	@include popup-design;
	z-index: 100;
}

.customize-inner{
	width: 50%;
	margin: auto;
	padding: 1rem;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.customize-inner__heading{
	text-align: center;
	font-size: $other-heading-size;
	text-transform: uppercase;
	padding: 1rem 0 2rem;
}

.customize-inner__body{
	padding: 1rem 0;
}

.customize-text-area{
	width: 100%;
	padding: .5rem;
	outline: none;
	font-size: $small-text-size;
}

.confirm-custom-btn{
	margin: .5rem;
}

.customize-close-popup{
	position: absolute;
	top: 0;
	right: 0;
	padding: 2rem;
	font-size: $other-heading-size;
	cursor: pointer;
}

// added to cart pop up section
.cart-div{
	position: relative;
}

.added-to-cart{
	display: none;
	position: absolute;
	top: 120%;
	right: 0;
	@include popup-design;
	width: 400%;
	padding: 1rem;
	text-transform: uppercase;
	p{
		padding: .5rem 0;
	}
}

#added-to-cart-btn{
	margin: auto;
}


// view order page
.ordered-food{
	width: 80%;
	margin: 2rem auto 0;
	font-size: $food-item-heading-size;
	text-transform: uppercase;
}

.ordered-food__food{
	width: 100%;
	margin-bottom: 4rem;
}

.ordered-food__food__item{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
}

.ordered-food__food__item--details{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ordered-food__food__item--customized,{
	font-size: $small-text-size;
	color: red;
	i{
		padding-left: .5rem;
	}
}

.ordered-food__food__item--edit{
	font-size: $small-text-size;
}

.ordered-food__food__item--quantity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	select{
		font-size: $small-text-size;
	}
}

.ordered-food__food__item--name, 
.ordered-food__food__item--quantity, 
.ordered-food__food__item--edit, 
.ordered-food__food__item--customized{
	margin-right: 1rem;
}

.ordered-food__totalPrice{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
}
.ordered-food__buttons{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

// hides food descriptions
.food-des{
	display: none;
}

// customize accordiond pop up 
.customize-accordion-family{
	position: relative;
	cursor: pointer;
}

.customize-accordion-popup{
	font-size: $small-text-size;
	position: absolute;
	left: 100%;
	top: -1rem;
	background: $bg-col;
	max-width: 0;
	overflow: hidden;
	transition: max-width 0.2s ease-out;
}

.isOpen{
	@include popup-design;
	padding: 1rem;
}

.waiter-container{
	@extend .customize-container;
}

.waiter-close-popup{
	@extend .customize-close-popup;
}

.waiter-inner{
	@extend .customize-inner;
}

// payment page 
.payment{
	@extend .ordered-food;
}

.payment__types{
	@extend .ordered-food__food;
}

.payment__counter, .payment__online--visible{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
}

.align-input-label{
	height: 100%;
	display: flex;
	align-items: center;
	label{
		padding: .5rem;
	}
}

.payment__counter--outer{
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 2px solid #fff;
}

.payment__counter__info{
	position: relative;
}

.payment__counter__info--hidden-text{
	position: absolute;
	font-size: $small-text-size;
	bottom: 100%;
	left: 100%;
	min-width: 10rem;
	display: none;
	text-align: justify;
	margin: 0rem 1rem;
	padding: .5rem;
	@include popup-design;
}

.payment__radio{
	width: $food-item-heading-size;
	height: $food-item-heading-size;
	border: none;
	outline: none;
}

.payment__online{
	display: flex;
	flex-direction: column;
}

.payment__online--payment--outer{
	display: none;
}
.payment__online--payment{
	font-size: $button-font-size;
	width: 80%;
	margin: 2rem auto 0;
	text-align: left;
	display: grid;
	grid-template-columns: 45% 1fr;
	transition: max-height 0.2s ease-out;

	& > input{
		margin: .5rem;
		outline: none;
		font-size: $small-text-size;
		transform: translateY(-5px);
	}
}

.payment__online--accepted{
	font-size: $small-text-size;
}

.payment__counter__info--button{
	font-size: $button-font-size;
	text-transform: lowercase;
	font-family: 'Roboto Slab', serif;
	background: $primary-font-col;
	color: $bg-col;
	border-radius: 50%;
	width: 1.5rem;
}

#cvv, #exp-date{
	width: 30%;
}


// order confirmation page 
.food-due{
	width: 100%;
	text-align: center;
	padding: 2rem;
	margin: -2rem 0 2rem;
	font-size: $food-item-heading-size;
	text-transform: uppercase;
}

.food-due__heading, .rate-experience__heading{
	padding: 1rem;
}

.food-due__time{
	font-size: $main-heading-size;
}

.confirmed-order-buttons{
	display: flex;
	justify-content: space-around;
	margin-bottom: 4rem;
}

.rate-experience{
	@extend .food-due;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feedback-form{
	@extend .rate-experience;
	label{
		padding: 1rem;
	}
	textarea{
		width: 50%;
		outline: none;
		font-size: $small-text-size;
		padding: .5rem;
	}
	input[type="submit"]{
		@extend .white-button;
		@extend button;
		margin-top: 2rem;
	}
}

@media (min-width: 1200px) {
	// makes more spacing on bigger screen
	.content{
		margin-top: 2rem;
	}
	.maori-heading{
		padding: 1rem;
	}
	.section__grid-items{
		margin-bottom: 6rem;
	}
	.food-due{
		margin: 0 0 4rem;
	}
	.rate-experience{
		margin-bottom: 4rem;
	}
}



